body {
	min-width: 320px;
}

#wrapper {
	overflow: hidden;
}

#main {
	.text-holder {
		position: absolute;
		z-index: 999;
		color: #fff;
	}
}

.container {

	max-width: 1230px;
	padding: 0 15px;
	margin: 0 auto;
}



.hero-section {
	position: relative;
	overflow: hidden;
	.hero-title {
		position: absolute;
		z-index: 999;
		color: #fff;
		top: 10%;
		transform: translateY(50%);
		text-align: left;
		width: 80%;
		min-width: 300px;
		max-width: 500px;
		left: 50%;
		transform: translateX(-50%);

		@include media('>=desktop') {
			top: 30%;
			left: 70%;
			width: 40%;
			font-size: 16px;
		}
		@include media('>=widescreen') {
			left: 75%;
		}
	}
	h1 {
		font-size: 24px;
		text-align: center;
	}
}

.btn {
	position: absolute;
	padding: 18px 38px;
	margin: 40px 0 0 0;
	background: #c08d62;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	color: #fff;
	transition: background .5s ease-in-out;

	&:hover {
		background: #443020;
	}
}

 