 body {}

 #header {

    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;

    .logo {
        display: block;
        margin: 0 auto;
        width: 200px;
        a {
            display: block;
        }

        @include media('>=tablet') {}

        @include media('>=desktop') {

            text-align: center;
        }
    }
    .container {
        padding: 0;
        @include media('>=desktop') {
            padding: 0 15px;
        }
    }
 }


